# Example flake.nix for a NixOS configuration using Hakuspace NixOS modules.
# This flake.nix file using ONLINE remote to fetch Hakuspace NixOS modules from GitHub
# If you don't want to use the online remote, you just can import my hakuspace-config.nix file directly in your configuration.nix file.

{
    description = "System Configuration powered by Hakuspace NixOS";

    inputs = {
        nixpkgs.url = "github:nixos/nixpkgs/nixos-unstable";
        hakuspace = {
            url = "github:hakuimaku/hakuspace?dir=nix";
            inputs.nixpkgs.follows = "nixpkgs";
        };
    };

    outputs = { self, nixpkgs, hakuspace, ... }@inputs: {
        nixosConfigurations = {
            
            # Change "nixos" to your hostname or leave it for default
            nixos = nixpkgs.lib.nixosSystem {
                system = "x86_64-linux";
                modules = [
                    ./hardware-configuration.nix
                    ./configuration.nix
                    hakuspace.nixosModules.default
                ];
            };
        };
    };
}