@import url("../../.local/state/haku_theme/colors.css");
@import url("../../.local/state/haku_theme/fonts.css");

.notification-row {
    outline: none;
    margin: 5px;
}

.notification {
    background: rgba(0, 0, 0, 1);
    border: 1px solid #000000;
    border-radius: 12px;
    padding: 10px;
    box-shadow: 0 0 5px #000000;
}

.notification-content .summary {
    color: @accent_color;
    font-size: 16px;
    font-weight: bold;
    text-shadow: 0 0 2px @accent_color;
}

.notification-content .body {
    color: @accent_color;
    font-size: 14px;
}

.notification-content .time {
    color: #a6adc8;
}

.notification-action {
    color: #11111b;
    background: @accent_color;
    border-radius: 5px;
}

/* --- CONTROL CENTER --- */
.control-center {
    background: rgba(0, 0, 0, 1);
    border-radius: 15px;
    box-shadow: 0 0 10px #000000;
    margin: 3px;
}

.widget-title {
    color: @accent_color;
    font-weight: bold;
    font-size: 1.2rem;
}

.widget-label {
    color: @accent_color;
}

.widget-buttons-grid > flowbox > flowboxchild > button {
    background: @accent_color;
    border-radius: 10px;
    margin: 3px;
    border: 1px solid @accent_color;
    color: #11111b; /* readable on accent */
}

.widget-buttons-grid > flowbox > flowboxchild > button:hover {
    background: @accent_color;
    color: #000000; /* ensure contrast */
}

.widget-dnd {
    color: @accent_color;
}

.widget-dnd > switch {
    background: @accent_color;
    border-radius: 10px;
    border: 1px solid @accent_color;
}

.widget-dnd > switch:checked {
    background: @accent_color;
}