//============================================
//         _____ __             __ 
//        / ___// /_____ ______/ /_
//        \__ \/ __/ __ `/ ___/ __/
//       ___/ / /_/ /_/ / /  / /_  
//      /____/\__/\__,_/_/   \__/  
//                                                                    
//============================================

spawn-at-startup "dbus-update-activation-environment" "--systemd" "WAYLAND_DISPLAY" "XDG_CURRENT_DESKTOP"
spawn-at-startup "systemctl" "--user" "import-environment" "WAYLAND_DISPLAY" "XDG_CURRENT_DESKTOP"
spawn-at-startup "/usr/lib/mate-polkit/polkit-mate-authentication-agent-1"
spawn-at-startup "swaync"
spawn-at-startup "hypridle"
spawn-at-startup "wl-paste" "--type" "text" "--watch" "cliphist" "store"
spawn-at-startup "wl-paste" "--type" "image" "--watch" "cliphist" "store"
spawn-at-startup "nm-applet" "--indicator"
spawn-at-startup "blueman-applet"
spawn-at-startup "sway-audio-idle-inhibit"
spawn-at-startup "awww-daemon"
spawn-at-startup "awww-daemon" "-n" "awww-daemon-backdrop"
spawn-at-startup "sh" "-c" "$HOME/.local/bin/waybar_manager.sh"


// Optional
spawn-at-startup "fcitx5" "-d"
spawn-at-startup "gammastep" "-O" "4200K"
spawn-at-startup "sh" "-c" "$HOME/.local/bin/welcome.sh"

// For Cava Underbar
spawn-at-startup "niri-float-sticky" "-disable-auto-stick"
// If you're using Fedora, uncomment the line below & comment the line above
//spawn-at-startup "$HOME/go/bin/niri-float-sticky" "-disable-auto-stick"