/* ============================================================================== */
/* GLOBAL STYLES                                  */
/* ============================================================================== */
@import url("../../.local/state/haku_theme/colors.css");
@import url("../../.local/state/haku_theme/fonts.css");

* {
    font-size: 16px;
    font-weight: bold;
    border-radius: 20px;
}

window#waybar {
    background-color: transparent;
    color: @accent_color;
    transition: background-color 0.3s ease;
}

.modules-left, .modules-center, .modules-right {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 20px;
    padding: 2px;
    margin: 2px;
}


/* ============================================================================== */
/* COMMON MODULE STYLES                               */
/* ============================================================================== */
#window,
#custom-recorder,
#custom-notification,
#pulseaudio,
#backlight,
#battery,
#tray,
#clock,
#cpu,
#power-profiles-daemon {
    margin: 2px;
    padding: 0 8px;
    transition: all 1s cubic-bezier(0, 0.5, 0.35, 1);
    min-width: 50px;
}

#hyprland-workspaces {
    margin: 2px;
    padding: 0 8px;
    transition: all 1s cubic-bezier(0, 0.5, 0.35, 1);
    min-width: 0px;
}

/* ============================================================================== */
/* WORKSPACES                                    */
/* ============================================================================== */
#workspaces button {
    color: @accent_color;
    padding: 0 12px;
    transition: all 0.7s cubic-bezier(0, 0.5, 0.35, 1);
    margin: 2px;
}

#workspaces button.active {
    color: #000000;
    background-color: @accent_color;
    transition: all 0.4s cubic-bezier(0, 0.5, 0.35, 1);
    min-width: 70px;
}

#workspaces button.empty {
    color: rgba(0, 0, 0, 1);
}

/*
#workspaces button:nth-child(1):not(.empty):not(.active) {
    color: #ffffff;
}

#workspaces button:nth-child(2):not(.empty):not(.active) {
    color: #ffffff;
}

#workspaces button:nth-child(3):not(.empty):not(.active) {
    color: #ffffff;
}

#workspaces button:nth-child(4):not(.empty):not(.active) {
    color: #ffffff;
}

#workspaces button:nth-child(5):not(.empty):not(.active) {
    color: #ffffff;
}
*/
/* ============================================================================== */
/* SPECIFIC MODULES                                 */
/* ============================================================================== */
#window { color: @accent_color; }

#clock { 
    color: @accent_color; 
}

#custom-recorder {
    color: @accent_color;
    border: 1px solid @accent_color;
    animation: blink 1s infinite; 
}

#custom-notification { color: @accent_color; }

#backlight { color: @accent_color; }

#pulseaudio { color: @accent_color; }

#battery { color: @accent_color; }

#memory { color: @accent_color; }

#cpu { color: @accent_color; }
/* ============================================================================== */
/* HOVER EFFECTS                                   */
/* ============================================================================== */
#power-profiles-daemon:hover,
#workspaces button:hover,
#pulseaudio:hover,
#backlight:hover,
#battery:hover,
#custom-notification:hover,
#memory:hover,
#cpu:hover {
    color: #000000;
    background-color: @accent_color;
    transition: all 0.4s cubic-bezier(0, 0.5, 0.35, 1);
    min-width: 100px;
}

#clock:hover {
    color: #000000;
    background-color: @accent_color;
    transition: all 0.4s cubic-bezier(0, 0.5, 0.35, 1);
    min-width: 450px;
}

/* ============================================================================== */
/* TOOLTIPS                                     */
/* ============================================================================== */
tooltip {
    background: rgba(0, 0, 0, 1);
    border-radius: 12px;
    padding: 10px;
}

tooltip label {
    color: @accent_color;
    font-size: 16px;
}

/* ============================================================================== */
/* ANIMATIONS                                    */
/* ============================================================================== */
@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0.5; }
    100% { opacity: 1; }
}