@import url("../../.local/state/haku_theme/colors.css");

.nemo-window .primary-toolbar {
    border-radius: 12px;
    margin: 10px 10px 5px 10px;
    padding: 10px;
}

.nemo-window .primary-toolbar button {
    border-radius: 8px;
    padding: 4px;
}

.nemo-window .primary-toolbar button:hover {
    background-color: #000000;
}

.nemo-window .primary-toolbar button:checked,
.nemo-window .primary-toolbar button:active {
    background-color: @accent_color;
    color: #000000;
}

.nemo-window .sidebar .cell {
    padding: 6px 1px;
}


.nemo-window .sidebar .cell:selected {
    background-color: @accent_color;
    color:#000000;
}

.nemo-window .view:selected,
.nemo-window iconview:selected {
    background-color: @accent_color;
    color: #000000;
}

.nemo-window progressbar progress {
    background-color: @accent_color;
}
